<div class="mb-4">
  <h4>Istniejące kategorie:</h4>
  <div *ngFor="let category of categories">
    <app-category-element [category]="category"></app-category-element>
  </div>
</div>

<h4>Dodaj kategorię:</h4>
<form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
  <div>
    <label for="category" class="me-2">Nowa kategoria: </label>
    <input class="mb-2" type="text" id="category" formControlName="category" required>
    <div *ngIf="addCategoryForm.controls['category']?.errors?.['required'] && addCategoryForm.controls['category']?.touched">
      Pole nie może być puste!
    </div>
  </div>
  <input class="btn btn-primary" [disabled]="!addCategoryForm.valid" type="submit" value="Dodaj kategorię">
</form>
