<div class="container d-flex justify-content-center mt-2">
  <div class="col-5">
    <h3 class="text-center mb-4">Edytuj ogłoszenie!</h3>
    <form [formGroup]="addAnnouncementForm" (ngSubmit)="onSubmit()">
      <div class="mt-2">
        <label for="title">Tytuł: </label>
        <input class="form-control" type="text" id="title" formControlName="title" required>
        <div *ngIf="addAnnouncementForm.controls['title']?.errors?.['required'] && addAnnouncementForm.controls['title']?.touched">
          Pole nie może być puste!
        </div>
      </div>

      <div class="mt-2">
        <label for="description">Opis: </label>
        <textarea class="form-control" type="text" id="description" formControlName="description" required></textarea>
        <div *ngIf="addAnnouncementForm.controls['description']?.errors?.['required'] && addAnnouncementForm.controls['description']?.touched">
          Pole nie może być puste!
        </div>
      </div>

      <div class="mt-2">
        <label for="endsAt">Data zakończenia:</label>
        <input class="form-control" type="datetime-local" id="endsAt" formControlName="endsAt">
        <div *ngIf="endsAt?.errors?.['required'] && endsAt?.touched">Data zakończenia jest wymagana!</div>
      </div>

      <div class="mt-2">
        <label for="category">Kategoria: </label>
        <select class="form-select" id="category" formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div *ngIf="category?.errors?.['required'] && category?.touched">Kategoria jest wymagana!</div>
      </div>

      <input class="btn btn-primary mt-2" [disabled]="!addAnnouncementForm.valid" type="submit" value="Edytuj ogłoszenie">
    </form>
  </div>
</div>
