<div class="container-fluid">
  <div *ngIf="unreviewedAnnouncements.length !== 0" class="mb-3">
    <h4>Twoje ogłoszenia wymagające rozpatrzenia:</h4>
    <div class="mb-4" *ngFor="let announcement of unreviewedAnnouncements">
      <div class="mb-2">
        <app-announcement-element [announcement]="announcement" class="mb-2"></app-announcement-element>
      </div>
      <button type="button" (click)="removeAnnouncement(announcement.id)" class="btn btn-sm btn-danger me-2">Usuń</button>
    </div>
  </div>

  <h4>Twoje publiczne ogłoszenia:</h4>
  <div class="mb-4" *ngFor="let announcement of reviewedAnnouncements">
    <div class="mb-2">
      <app-announcement-element [announcement]="announcement"></app-announcement-element>
    </div>
    <button (click)="editAnnouncement(announcement.id)" class="btn btn-sm btn-warning me-2">Edytuj</button>
    <button (click)="removeAnnouncement(announcement.id)" class="btn btn-sm btn-danger me-2">Usuń</button>
  </div>

</div>
