<div class="card col-md-4">
  <div class="card-body">
    <h4 class="card-title text-center">{{ announcement.title }}</h4>
    <h6 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-person"></i><b class="text-dark">Autor:</b> {{ announcement.user.username }}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"><b class="text-dark">Kategoria:</b> {{ announcement.category.name }}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"><b class="text-dark">Dodano:</b> {{ announcement.createdAt | date: 'dd.MM.yyyy hh:mm' }}</h6>
    <h6 class="card-subtitle mb-3 text-body-secondary"><b class="text-dark">Zakończenie:</b> {{ announcement.endsAt | date: 'dd.MM.yyyy hh:mm' }}</h6>
    <p class="card-text">
      <b class="text-dark">Treść ogłoszenia:</b><br/>
      {{ announcement.description }}
    </p>
  </div>
</div>
