<div class="container d-flex justify-content-center mt-2">
  <div class="col-4">
    <h3 class="text-center mb-4">Zarejestruj się!</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mt-2">
        <label for="username">Login:</label>
        <input class="form-control" type="text" id="username" formControlName="username" required>
        <div *ngIf="registerForm.controls['username']?.errors?.['required'] && registerForm.controls['username']?.touched">
          Pole nie może być puste!
        </div>
      </div>
      <div class="mt-2">
        <label for="email">Adres email:</label>
        <input class="form-control" type="email" id="email" formControlName="email" required>
        <div *ngIf="registerForm.controls['email']?.errors?.['required'] && registerForm.controls['email']?.touched">
          Pole nie może być puste!
        </div>
        <div *ngIf="registerForm.controls['email']?.errors?.['email'] && registerForm.controls['email']?.touched">
          Niprawidłowy format adresu email!
        </div>
      </div>
      <div class="mt-2">
        <label for="password">Hasło:</label>
        <input class="form-control" type="password" id="password" formControlName="password" required>
        <div *ngIf="registerForm.controls['password']?.errors?.['required'] && registerForm.controls['password']?.touched">
          Pole nie może być puste!
        </div>
      </div>
      <input class="btn btn-primary mt-2" [disabled]="!registerForm.valid" type="submit" value="Zarejestruj">
    </form>
  </div>
</div>
